p
{
	color:#2b2b2b;
	font-size:10px;
	font-family:_Arial;
	leading:1px;
}

a:link
{
	color:#0000FF;
	decoration:underline;
}

a:hover
{
	decoration:none;
}

a:active
{
	color:#ff0000;
}

h1
{
	color:#f9f9f9;
	font-size:24px;
	font-family:_Arial;
}

h2
{
	font-size:13px;
	font-family:_Arial;
}

.emphasized
{
	color:#fb000b;
}