p
{
	color:#010000;
	font-size:10px;
	font-family:_Arial;
	leading:1px;
}

a:link
{
	color:#0000FF;
}

a:hover
{
	decoration:underline;
}

a:active
{
	color:#ff0000;
}

h1
{
	font-size:24px;
	font-family:_Arial;
}

h2
{
	font-size:13px;
	font-family:_Arial;
}